/* Main page */

/* Primary text color #434455 */
/* Secondary text color (title) #2E2F42 */
/* White text color #FFFFFF */
/* Footer text color #E7E9FC */
/* Logo color blue #4D5AE5 */
/* logo color white #F4F4FD */
/* Header bg color #FFFFFF */
/* Hero bg color #2E2F42 */
/* Benefits bg color #E5E5E5 */
/* Team bg color #F4F4FD */
/* Footer bg color #2E2F42 */
/* Accent color #4D5AE5 */
/* Button bg color #4D5AE5 */
/* Button color #FFFFFF */

/* Portfolio page */

/* Button active bg #404BBF */
/* Button non-active bg #F4F4FD */
/* Button active text color #FFFFFF */
/* Button non-active text color #4D5AE5 */



:root{
    --primary-text-color: #434455;
    --title-text-color: #2E2F42;
    --white-text-color: #FFFFFF;
    --footer-text-color: #E7E9FC;
    --logo-color-blue: #4D5AE5;
    --logo-color-white: #F4F4FD;
    --header-bg-clr: #FFFFFF;
    --hero-bg-clr: #2E2F42;
    --benefits-bg-clr: #E5E5E5;
    --team-bg-clr: #F4F4FD;
    --footer-bg-clr: #2E2F42;
    --accent-color: #4D5AE5; 
    --btn-bg-clr: #4D5AE5;
    --btn-txt-clr: #FFFFFF;
    --card-bg-clr: #FFFFFF;
    /* Portfolio page */
    --btn-active-bg: #404BBF;
    --btn-non-actvive-bg: #F4F4FD;
    --btn-active-txt-clr: #FFFFFF;
    --btn-non-active-txt-clr: #4D5AE5;
}

.page {
    margin: 0 0;

    color: var(--primary-text-color);
    background-color: var(--benefits-bg-clr);

    font-family: Roboto, sans-serif;
    letter-spacing: 0.02em;
}

/* Скидання всіх крапок у списках */

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

h2 {
    margin-top: 0;
    margin-bottom: 0;
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

img {
    display: block;
    height: auto;
}

/* Page header */

.page-header {
    background-color: var(--header-bg-clr);
    border-bottom: 1px solid var(--footer-text-color);
}

/* Logo */

.logo {
    margin-right: 76px;

    color: var(--title-text-color);
    text-decoration: none;

    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo > .blue {
    color: var(--logo-color-blue);
}

/* site nav */
.header-nav {
    display: flex;
    align-items: center;
}

.site-nav,
.site-contact {
    display: flex;
}

.site-nav .item:not(:last-child),
.site-contact .item:not(:last-child) {
    margin-right: 40px; 
}

/* .site-nav .item + .item,
.site-contact .item + .item {
    margin-left: 40px;
} */

.site-nav .link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    color: var(--title-text-color);
    text-decoration: none;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}

.site-nav .link.current {
    color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-contact {
    margin-left: auto;
}

.site-contact .link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    color: var(--primary-text-color);
    text-decoration: none;
}

.site-contact .link:hover,
.site-contact .link:focus {
    color: var(--accent-color);
}

/* Hero */

.hero{
    padding-top: 188px;
    padding-bottom: 188px;

    text-align: center;
    background-color: var(--hero-bg-clr);
}
.hero-title {
    margin-top: 0;
    margin-bottom: 48px;
    color: var(--white-text-color);

    font-weight: 700; 
    font-size: 56px;
    line-height: 1.07;
}

.button {
    cursor: pointer;
    border: 1px solid transparent;
}
 
.button.primary {
    color: var(--btn-txt-clr);
    background-color: var(--btn-bg-clr);

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    
    letter-spacing: 0.04em;
    text-align: center;

    border-radius: 4px;
    padding: 16px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Наші переваги */

.benefits {
    background-color: var(--benefits-bg-clr);
}


.benefits{
    padding-top: 120px;
    padding-bottom: 120px;
}

.benefits .section-title {
    margin-top: 0;
    color: var(--title-text-color);
    display: none;
}

.benefits-list {
    display: flex;
}

.ben-item:not(:last-child) {
    margin-right: 24px;
}
.benefits-list .title {
    margin-top: 0;
    margin-bottom: 8px;

    color: var(--title-text-color);

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.section .text {
    margin-top: 0;
    margin-bottom: 0;

    color: var(--primary-text-color);

    font-size: 16px;
    line-height: 1.5;
}
 
/* Чим ми займаємося */

.section.work {
    padding-top: 0;
    padding-bottom: 120px;
    background-color: var(--benefits-bg-clr);
}

.section-title {
    margin-bottom: 72px;
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    
    text-align: center;
    text-transform: capitalize;
}

.work-list {
    display: flex;
}

.work-item + .work-item {
    margin-left: 24px;
}

/* Team */

.section.team {
    background-color: var(--team-bg-clr);
}

.team .container {
    padding-top: 120px;
    padding-bottom: 120px;  
}

.team .section-title {
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    text-align: center;
}

.team-card {
    padding-bottom: 32px;
    background-color: var(--card-bg-clr);

    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.team-card:not(:last-child){
    margin-right: 22px;
}

.team-card > img {
    margin-bottom: 32px;
} 

.team-list .title {
    margin-top: 0;
    margin-bottom: 8px;

    color: var(--title-text-color);

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    
    text-align: center;
}

.team-list .text {
    color: var(--primary-text-color);

    font-size: 16px;
    line-height: 1.5;
    
    text-align: center;
}

/* Footer */

.footer {
    background-color: var(--footer-bg-clr);
}

.footer .container {
    padding-top: 100px;
    padding-bottom: 100px;
}

.logo > .white {
    color: var(--logo-color-white);
}

.logo.footer {
    margin-bottom: 16px;
}

.footer .text {
    width: 264px;

    color: var(--footer-text-color);

    font-size: 16px;
    line-height: 1.5;
}


/* Portfolio */

.content .section-title {
    color: var(--title-text-color);
    display: none;
}

.portfolio .container {
    padding-top: 96px;
    padding-bottom: 120px;
}

/* Buttons' list */

.button-list {
    display: flex;
    justify-content: center;
}

.btb-item:not(:last-child) {
    margin-right: 24px;
}
.button-portfolio {
    padding: 12px 24px;

    color: var(--btn-non-active-txt-clr);
    background-color: var(--btn-non-actvive-bg);
    
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;

    border: 1px solid #E7E9FC;
    border-radius: 4px;
}

.button-portfolio:hover,
.button-portfolio:focus {
    color: var(--btn-active-txt-clr);
    background-color: var(--btn-active-bg);
    border: 1px solid transparent;
}

.section.buttons{
    margin-bottom: 72px;
}
/* Content list */

.content-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.content-list .content-card {
    flex-basis: calc((100% - 48px) / 3);

    background-color: var(--card-bg-clr);
    text-align: left;
    /* border: 1px solid var(--footer-text-color); */
}

.content-wrapper {
    border: 1px solid var(--footer-text-color);
    border-top: none;
    padding-bottom: 23px;
    padding-top: 32px;
    padding-left: 16px;
}

/* .content-card:nth-child(3n) {
    margin-right: 0;
}

.content-card:nth-last-child(-n + 3) {
    margin-bottom: 0px;
} */

.content-card img {
    /* margin-bottom: 32px; */
}

.content-list .link {
    text-decoration: none;
}

.content-card .title {
    margin-top: 0;
    margin-bottom: 8px;

    color: var(--title-text-color);
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.content-card .text {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}